
*.png
*.zip
*.tgz
*.ply
*.json
datasets_fscil
scannet_raw


*/__pycache__/*
__pycache__/
Stanford3dDataset_v1.2_Aligned_Version/
datasets/
log_s3dis/
log_scannet/
pretrain/log*/
openseg_exported_clip/
z_openseg*/
z_projection*/
z_vis*/